    <!-- User Information -->
<div class="user-content bg-white">
    <div class="modal-header">
        <div class="login-brand bg-inverse text-white">
            <img src="/images/logo-white.png" height="36" class="pull-right" alt="" /> Edit User Information:
        </div>
    </div>
    <div class="modal-body">
        <!-- Form - User Information - start -->
        <div class="update-information">
            <form class="form-input-flat" id="userForm" name="infoPassCtrl.userForm" ng-submit="infoPassCtrl.updateUser()" novalidate>
                <div class="form-group">
                    <input type="text"
                           id="id"
                           name="id"
                           class="form-control input-lg"
                           placeholder="User Id"
                           ng-model="infoPassCtrl.currentUser.id"
                           readonly />
                </div>

                <div class="form-group">
                    <input type="text"
                           id="firstName"
                           name="firstName"
                           class="form-control input-lg"
                           ng-class="{'error':infoPassCtrl.showEditInfoPassErrors && !infoPassCtrl.userForm.firstName.$valid}"
                           placeholder="First Name"
                           ng-model="infoPassCtrl.currentUser.firstName"
                           required />
                    <div role="alert" class="help-inline error">
                        <span class="error" ng-show="infoPassCtrl.showEditInfoPassErrors && infoPassCtrl.userForm.firstName.$error.required">Please enter a valid first name.</span>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text"
                           id="lastName"
                           name="lastName"
                           class="form-control input-lg"
                           ng-class="{'error':infoPassCtrl.showEditAddressErrors && !infoPassCtrl.userForm.lastName.$valid}"
                           placeholder="Last Name"
                           ng-model="infoPassCtrl.currentUser.lastName"
                           required />
                    <div role="alert" class="help-inline error">
                        <span class="error" ng-show="infoPassCtrl.showEditInfoPassErrors && infoPassCtrl.userForm.lastName.$error.required">Please enter a valid last name.</span>
                    </div>
                </div>

                <div class="form-group">
                    <input type="email"
                           id="email"
                           name="email"
                           class="form-control input-lg"
                           ng-class="{'error':infoPassCtrl.showEditAddressErrors && !infoPassCtrl.userForm.email.$valid}"
                           placeholder="Email"
                           ng-model="infoPassCtrl.currentUser.email"
                           required />
                    <div role="alert" class="help-inline error">
                        <span class="error" ng-show="infoPassCtrl.showEditInfoPassErrors && infoPassCtrl.userForm.email.$error.required">Please enter a valid email address.</span>
                    </div>
                </div>

                <div class="form-group">
                    <input type="tel"
                           id="phone"
                           name="phone"
                           class="form-control input-lg"
                           ng-class="{'error':infoPassCtrl.showEditAddressErrors && !infoPassCtrl.userForm.phone.$valid}"
                           placeholder="Phone Number"
                           ng-model="infoPassCtrl.currentUser.phone"
                           required />
                    <div role="alert" class="help-inline error">
                        <span class="error" ng-show="infoPassCtrl.showEditInfoPassErrors && infoPassCtrl.userForm.phone.$error.required">Please enter a valid phone number.</span>
                    </div>
                </div>
                <div align="right">
                    <a class="btn btn-default btn-xs btn-rounded p-l-10 p-r-10" href="#"><i class="fa fa-cog"></i> Image Upload</a>
                </div>
                <div class="modal-footer">
                    <button id="information-button-cancel" type="reset" data-dismiss="modal" class="btn btn-lg btn-default">Cancel</button>
                    <button id="information-button-submit" type="submit" class="btn btn-lg btn-success">Save Information</button>
                </div>
            </form>
            <br />
            <!-- Form - User Information - end -->
        </div>
    </div>
</div>

<br />
<br />

<!-- User Password -->
<div class="user-content bg-white">
    <div class="modal-header">
        <div class="login-brand bg-inverse text-white">
            <img src="/images/logo-white.png" height="36" class="pull-right" alt="" /> Edit User Password:
        </div>
    </div>
    <div class="modal-body">
        <div>
            <!-- Form - User Password - start -->
            <div class="update-password">
                <form class="form-input-flat" id="passForm" name="infoPassCtrl.passForm" ng-submit="infoPassCtrl.updatePassword()" novalidate>
                    <div class="form-group">
                        <input type="password"
                               id="password"
                               name="password"
                               class="form-control input-lg"
                               ng-class="{'error':infoPassCtrl.showEditInfoPassErrors && !infoPassCtrl.passForm.password.$valid}"
                               placeholder="Password"
                               ng-model="infoPassCtrl.currentUser.password"
                               ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$!%*?&])[A-Za-z\d$!%*?&]{6,}/"
                               required />
                        <div role="alert" class="help-inline error">
                            <span class="error" ng-show="infoPassCtrl.showEditInfoPassErrors && infoPassCtrl.passForm.password.$error.required">Please enter a valid password.</span>
                            <span class="error" ng-show="infoPassCtrl.showEditInfoPassErrors && infoPassCtrl.passForm.password.$error.pattern">Passwords must have at least 6 characters including one non-letter/non-digit special character, one uppercase letter, and one number.</span>

                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password"
                               id="confirmPassword"
                               name="confirmPassword"
                               class="form-control input-lg"
                               ng-class="{'error':infoPassCtrl.showEditInfoPassErrors && !infoPassCtrl.passForm.confirmPassword.$valid}"
                               placeholder="Confirm Password"
                               ng-model="infoPassCtrl.currentUser.confirmPassword"
                               ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$!%*?&])[A-Za-z\d$!%*?&]{6,}/"
                               required
                               pw-check="password" />
                        <div role="alert" class="help-inline error">
                            <span class="error" ng-show="infoPassCtrl.showEditInfoPassErrors && infoPassCtrl.passForm.confirmPassword.$error.required">Please confirm your password.</span>
                            <span class="error" ng-show="infoPassCtrl.showEditInfoPassErrors && infoPassCtrl.passForm.confirmPassword.$error.pwmatch">Passwords do not match. Please try again.</span>
                        </div>
                    </div>
                    <!-- Form - User Password - end -->
                    <div class="modal-footer">
                        <button id="password-button-submit" type="submit" class="btn btn-lg btn-success">Save Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>